 @font-face{
   font-family: 'ClashDisplay-Semibold';
   src: url('./fonts/ClashDisplay-Semibold.otf') format('opentype');
 }

 @font-face{
   font-family: 'Archivo-Regular';
   src: url('./fonts/Archivo-Regular.otf') format('opentype');
 }
