 @font-face{
   font-family: 'MonumentExtended-Bold';
   src: url('./fonts/MonumentExtended-Bold.otf') format('opentype');
 }

 @font-face{
   font-family: 'MonumentExtended-Regular';
   src: url('./fonts/MonumentExtended-Regular.otf') format('opentype');
 }
